@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  font-size: 16px;
  font-family: 'VT323', monospace;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 1rem;
  
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #1AC69B;
  border-radius: 2rem;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: auto;
 
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* .fa-primary {
  color: #ff7eee;
} */

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}


.buttonClass {
  font-family: 'VT323', monospace;
  background-color: #1E90FF;
  color: white;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 30vw
}

.image {
  border-radius: 2rem;
  width: 40vw;
  align-items: center;
  overflow: auto;
  
  
}


.image:hover {
  transition-duration: var(--transition-speed);
  border-radius: 2rem;
  width: 50.89vw;
  transform: scale(1.01);
  align-items: center;
  overflow: auto;
  filter: grayscale(100%);
  
  
}


/* Button */

* {
  margin: 0;
  padding: 0;
}




.buttons {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  padding:  40px 0px;
  width: 240px;
}




.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}


.effect04:hover{

  background-color: #000;
}

.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}


.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}


.quote {
  padding-top: 3.5%;
}

a {
  text-decoration: none;
  color: #b6b6b6;
}

.homeTitle {
  color:black;
}


.connectedWallet {
  color: #1BAA10;
}

.buyldfPadding {
  margin-top: 3rem;
}

.buyldf-image {

  width: 40vw;
}

.no-dot-list {
  padding-top: 1rem;
  list-style: none; 
  
}

li {
  margin: 1rem 0;
}


.no-hover-image 
{
  border-radius: 2rem;
  width: 40vw;
  align-items: center;
  overflow: auto;
 
  
}

/* Progress bar */


#center {

  margin: auto;
  width: 40%;
   height: 3rem;
   margin-top: 4rem;
   background: rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.2);
  border-radius: 2rem;
  
}

#main {
  width: 20rem;
  height: 3rem;
  background: #107AD3;
  animation: stretch 5s infinite linear;
  
}


@keyframes stretch {
	0% {width: 30%}
  25% {width: 50%}
  50% {width: 80%}
  75% {width: 50%}
  100% {width: 30%}
  
}
/* @keyframes squeeze {
	0% {width: 400px;}
  25% {width: 320px;}
  50% {width: 140px;}
  75% {width: 360px;}
	100% {width: 400px;}
} */
/* Process bar */


.unactive-li {

  opacity: 0.5;
}

.countdown {
  width: 10vw;
  margin: auto;
 text-align: center;
 margin-bottom: 2%;
 color: #8E8E8E;
 border-style: none;
 

 
}

.countdown-text {

  color:#DA4F05;
}

.filled {
  color: green;
}

.presale-text {
  color: #053476;
}
.padding-bottom {
  margin-bottom: 5rem;
}

.footer {
  margin-top: 20%;
  bottom: 1%;
  justify-content: space-around;
  display: flex;
  flex-direction: row-reverse;
  color: #99A4A9;
}

.tokenomic-link {
  color: #168718;
}

.devs {
  color: #25B250;
  background-color: #DEFBDF;
  font-size: 0.7rem;
  justify-content: center;
}

.devs:hover {
  color:#FAFFF0;
  background-color: #2F2F2F;
  font-size: 0.7rem;
  justify-content: center;
}

.devs-testing {
  color: #E79000;
  background-color: #FCE8C4;
  font-size: 0.7rem;
  justify-content: center;
}

.devs-testing:hover {
  color: #ECECEC;
  background-color: #2A2A2A;
  font-size: 0.7rem;
  justify-content: center;
}

.footer-link {
  color: #F1AA32;
}
